{% extends "default/module.html.jinja2" %}
{% block module_info %}
    <section class="module-info">
        {% block edit_button %}
            {% if edit_url %}
                {% if "github.com" in edit_url %}
                    {% set edit_text = "Edit on GitHub" %}
                {% elif "gitlab" in edit_url %}
                    {% set edit_text = "Edit on GitLab" %}
                {% else %}
                    {% set edit_text = "Edit Source" %}
                {% endif %}
                <a class="pdoc-button git-button" href="{{ edit_url }}">{{ edit_text }}</a>
            {% endif %}
        {% endblock %}
        {{ docstring(module) }}
        {{ view_source_state(module) }}
        {{ view_source_button(module) }}
        {{ view_source_code(module) }}
    </section>
{% endblock %}